@import "@fontsource/jetbrains-mono/variable" layer(base);
@import "@fontsource/lexend/variable" layer(base);
@import "./shiki.css" layer(base);
@import "tailwindcss";
@import "./theme.css";
@import "./utilities.css";

@layer components, theme, base, utilities;

@config '../../tailwind.config.cjs';

@custom-variant dark (&:is(.dark *));

@layer base {
  div,
  span,
  label,
  input,
  textarea,
  select {
    @apply type-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply type-heading;
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-400, currentColor);
    @apply box-border;
  }
}

.glass {
  backdrop-filter: blur(1em) saturate(200%);
  /* background-color: rgba(255, 255, 255, 0.8); */
}

@media (prefers-color-scheme: light) {
  .shiki.github-dark {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .shiki.github-light {
    display: none;
  }
}
