@layer theme {
  @import "tailwindcss/theme.css";
}

@google-font Ledger 400,700 subset=latin;
@google-font Quicksand 400,700 subset=latin;

@theme {
  /* Typography Theming */
  --font-sans:
    "Ledger", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    Quicksand, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-quicksand: Quicksand, serif;
  --font-ledger: "Ledger", sans-serif;
  --font-display:
    Quicksand, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-heading:
    Quicksand, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-body:
    Ledger, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-button:
    Ledger, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --text-xs: 0.75rem;
  --text-xs--line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
  --text-display-108: 108px;
  --text-display-108--line-height: 136px;
  --text-display-108--font-weight: 300;
  --text-display-108-medium: 108px;
  --text-display-108-medium--line-height: 136px;
  --text-display-108-medium--font-weight: 500;
  --text-display-108-medium-italic: 108px;
  --text-display-108-medium-italic--line-height: 136px;
  --text-display-108-medium-italic--font-weight: 700;
  --text-display-72: 72px;
  --text-display-72--line-height: 90px;
  --text-display-72--font-weight: 300;
  --text-display-72-medium: 72px;
  --text-display-72-medium--line-height: 90px;
  --text-display-72-medium--font-weight: 500;
  --text-heading-60: 60px;
  --text-heading-60--line-height: 72px;
  --text-heading-60--font-weight: 300;
  --text-heading-60-medium: 60px;
  --text-heading-60-medium--line-height: 72px;
  --text-heading-60-medium--font-weight: 500;
  --text-heading-48: 48px;
  --text-heading-48--line-height: 60px;
  --text-heading-48--font-weight: 300;
  --text-heading-48-medium: 48px;
  --text-heading-48-medium--line-height: 60px;
  --text-heading-48-medium--font-weight: 500;
  --text-heading-36: 36px;
  --text-heading-36--line-height: 48px;
  --text-heading-36--font-weight: 300;
  --text-heading-36-medium: 36px;
  --text-heading-36-medium--line-height: 48px;
  --text-heading-36-medium--font-weight: 500;
  --text-heading-24: 24px;
  --text-heading-24--line-height: 36px;
  --text-heading-24--font-weight: 300;
  --text-heading-24-medium: 24px;
  --text-heading-24-medium--line-height: 36px;
  --text-heading-24-medium--font-weight: 500;
  --text-heading-20: 20px;
  --text-heading-20--line-height: 32px;
  --text-heading-20--font-weight: 300;
  --text-heading-20-medium: 20px;
  --text-heading-20-medium--line-height: 32px;
  --text-heading-20-medium--font-weight: 500;
  --text-heading-16: 16px;
  --text-heading-16--line-height: 28px;
  --text-heading-16--font-weight: 300;
  --text-heading-16-medium: 16px;
  --text-heading-16-medium--line-height: 28px;
  --text-heading-16-medium--font-weight: 500;
  --text-body-20: 20px;
  --text-body-20--line-height: 30px;
  --text-body-20--font-weight: 400;
  --text-body-20-bold: 20px;
  --text-body-20-bold--line-height: 30px;
  --text-body-20-bold--font-weight: 700;
  --text-body-16: 16px;
  --text-body-16--line-height: 24px;
  --text-body-16--font-weight: 400;
  --text-body-16-bold: 16px;
  --text-body-16-bold--line-height: 24px;
  --text-body-16-bold--font-weight: 700;
  --text-body-14: 14px;
  --text-body-14--line-height: 22px;
  --text-body-14--font-weight: 400;
  --text-body-14-bold: 14px;
  --text-body-14-bold--line-height: 22px;
  --text-body-14-bold--font-weight: 700;
  --text-body-12: 12px;
  --text-body-12--line-height: 20px;
  --text-body-12--font-weight: 400;
  --text-body-12-bold: 12px;
  --text-body-12-bold--line-height: 20px;
  --text-body-12-bold--font-weight: 700;
  --text-body-10: 10px;
  --text-body-10--line-height: 18px;
  --text-body-10--font-weight: 400;
  --text-body-10-bold: 10px;
  --text-body-10-bold--line-height: 18px;
  --text-body-10-bold--font-weight: 700;
  --text-button-16: 16px;
  --text-button-16--line-height: 24px;
  --text-button-16--font-weight: 600;
  --text-button-14: 14px;
  --text-button-14--line-height: 22px;
  --text-button-14--font-weight: 600;

  /* Color Theming */
  --color-base-neutral: #1f292e;
  --color-base-plum: #6816af;
  --color-base-violet: #3a0469;

  --color-accent: #C26A46;
  --color-accent-light: #DD845F; /* Lighter shade of the accent color */
  --color-accent-dark: #A4573B; /* Darker shade of the accent color */
  --color-accent-lilac: #a57ce4;
  --color-accent-teal: #1abab0;
  --color-accent-umber: #C26A46;
  --color-accent-paper: #fff8f0;

  --color-info-dark: #495155;
  --color-info-light: #dddedf;
  --color-info: #495155;

  --color-success-dark: #0e5c2d;
  --color-success-light: #e7efea;
  --color-success: #0e5c2d;

  --color-warning-dark: #af640d;
  --color-warning-light: #f7efe7;
  --color-warning: #af640d;

  --color-error-dark: #a20d19;
  --color-error-light: #f6e7e8;
  --color-error: #a20d19;

  --color-neutral-0: #ffffff;
  --color-neutral-10: #f2f4f6;
  --color-neutral-20: #dadbdd;
  --color-neutral-30: #b3b6b8;
  --color-neutral-40: #9ea2a4;
  --color-neutral-50: #898e91;
  --color-neutral-60: #73797d;
  --color-neutral-70: #5e6569;
  --color-neutral-80: #495155;
  --color-neutral-90: #343d42;
  --color-neutral-100: #1f292e;
  --color-neutral: #1f292e;

  --color-plum-10: #f0e8f7;
  --color-plum-20: #e1d0ef;
  --color-plum-30: #d2b9e7;
  --color-plum-40: #c3a2df;
  --color-plum-50: #b48bd7;
  --color-plum-60: #a473cf;
  --color-plum-70: #955cc7;
  --color-plum-80: #8645bf;
  --color-plum-90: #772db7;
  --color-plum-100: #6816af;
  --color-plum: #6816af;

  --color-violet-10: #ebe6f0;
  --color-violet-20: #d8cde1;
  --color-violet-30: #c4b4d2;
  --color-violet-40: #b09bc3;
  --color-violet-50: #9d82b4;
  --color-violet-60: #8968a5;
  --color-violet-70: #754f96;
  --color-violet-80: #613687;
  --color-violet-90: #4e1d78;
  --color-violet-100: #3a0469;
  --color-violet: #3a0469;

  --color-lilac-10: #f6f2fc;
  --color-lilac-20: #ede5fa;
  --color-lilac-30: #e4d8f7;
  --color-lilac-40: #dbcbf4;
  --color-lilac-50: #d2bef2;
  --color-lilac-60: #c9b0ef;
  --color-lilac-70: #c0a3ec;
  --color-lilac-80: #b796e9;
  --color-lilac-90: #ae89e7;
  --color-lilac-100: #a57ce4;
  --color-lilac: #a57ce4;

  --color-teal-10: #e8f8f7;
  --color-teal-20: #d1f1ef;
  --color-teal-30: #baeae7;
  --color-teal-40: #a3e3df;
  --color-teal-50: #8dddd8;
  --color-teal-60: #76d6d0;
  --color-teal-70: #5fcfc8;
  --color-teal-80: #48c8c0;
  --color-teal-90: #31c1b8;
  --color-teal-100: #1abab0;
  --color-teal: #1abab0;
  --color-teal-dark: #25827c;

  --color-umber-10: #fbf1e6;
  --color-umber-20: #f8e3cc;
  --color-umber-30: #f4d6b3;
  --color-umber-40: #f0c899;
  --color-umber-50: #edba80;
  --color-umber-60: #e9ac66;
  --color-umber-70: #e59e4d;
  --color-umber-80: #e19133;
  --color-umber-90: #de831a;
  --color-umber-100: #da7500;
  --color-umber: #da7500;

  --color-paper-10: #fffcf8;
  --color-paper-40: #fff8f0;
  --color-paper: #fff8f0;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl:
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --shadow-none: none;
  --shadow-plum: 0 0 16px 0 #772db7;
}
